ul {
    display: flex;
    justify-content: space-around;
}

a {
    color: #EBA4A7;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}
